@import 'tailwindcss';

@plugin 'daisyui';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    logs: true;
}

@theme {
    --color-tertiary: var(--tertiary-color);
    --color-tertiary-content: var(--tertiary-color-content);
}

@plugin "daisyui/theme" {
    name: "light";
    --tertiary-color: var(--color-gray-400);
    --tertiary-color-content: var(--color-gray-400);
}

/* 3. Map alternative color values for your Dark Theme */
@plugin "daisyui/theme" {
    name: "dark";
    --tertiary-color: var(--color-gray-400);
    --tertiary-color-content: var(--color-gray-400);
}

.active {
    @apply text-tertiary-content;
}

.input {
    @apply border border-gray-300 rounded-xl p-3 focus:outline-none;
}

.input-sm {
    @apply border border-gray-300 rounded-xl p-2 focus:outline-none;
}

.submit-button {
    @apply rounded-xl cursor-pointer bg-blue-400 py-2 flex-1 hover:bg-blue-500 duration-200;
}
